.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(40, 54, 24, 0.25);
    background-color: #283618;
    border-radius: 7px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(116, 109, 117, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    border-radius: 7px;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #AFCC8E;
    border-radius: 7px 0 0 7px;
}

.choice-text {
    padding: 1.5rem;
    color: #FAEBD7;
    width: 100%;
}

.correct {
    background-color: #AFCC8E;
}

.incorrect {
    background-color: #292127;
}
