*, *::before, *::after {
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 60vw;
    justify-content: center;
    align-items: center;
    background: #bfd9bf;
    color: #292127;
}

#intro-box {
    background: antiquewhite;
    width: 540px;
    top: 35%;
    left: 37%;
    padding: 10px 25px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

#intro-box .intro {
    height: 78px;
    width: 75%;
    border-bottom: 2px solid #746d75;
    margin: 0 54px;
    text-align: center;
}

#intro-box .intro-text p {
    display: flex;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 18px;
}

#intro-box #start-btn button{
    height: 45px;
    width: 92px;
    font-size: 20px;
    background: #253d2c;
    color: antiquewhite;
    border-radius: 7px;
    margin: 6px 194px 18px;
    cursor: pointer;
}

/* QUIZ BOX FORMATTING */
#quiz-box {
    width: 500px;
    max-width: 80%;
    background: antiquewhite;
    border-radius: 7px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 0 10px 2px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
    margin: 20px 20px;
}

.btn, .answer-btn {
    background: #253d2c;
    color: antiquewhite;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 7px;   
    transition: all 0.3s ease; 
    cursor: pointer;
}

.btn:hover, .answer-btn:hover {
    background: #746d75;
    color: #292127;
    font-weight: 525;
    outline: #292127;
}

.hide {
    display: none;
}